.main {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 100%;
  background-color: #F8F8FD;
  box-sizing: border-box;
  padding: 0 0 30px 0;
  position: relative;
}

.form {
  padding: 16px 20px;
  border: 1px solid rgba(198, 138, 227, 0.50);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 670px;

  & button {
    background-color: transparent;
    background-image: url(../../../images/magic-ball.png);
    border: none;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 23px;
  }

  & input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 127.778% */
    letter-spacing: 0.18px;
    color: #5E72E1;

    &::placeholder {
      color: #5E72E1;
    }
  }
}