.message {
  padding: 12px 24px 20px;
  border-radius: 32px;
  background: #7386EB;
  color: #F8F8FD;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 127.778% */
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 350px;
  margin-bottom: 24px;
}