.container {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  position: relative;
  align-self: flex-end;
}

.message {
  padding: 20px 24px;
  border-radius: 32px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 127.778% */
  letter-spacing: 0.18px;
  display: flex;
  align-items: center;
  width: 350px;
  margin-bottom: 30px;
  background-color: #e0e6ff;
  color: #5e72e1;

  &.bot {
    background: #7386eb;
    color: #f8f8fd;
  }
}

.botcontainer {
  align-self: flex-start;
}

.avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: -98px;
  z-index: 5;
  background-image: url(../../../images/avatar-bot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
