.header {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;

  .customSelect {
    position: absolute;
    top: 60px;
    right: 76px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    cursor: pointer;
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.caption {
  font-family: "Lena";
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 40px; /* 125% */
  letter-spacing: 0.64px;
  // color: #b795ff;
  background: var(
    --general-gradient,
    linear-gradient(216deg, #b795ff 19.75%, #5e72e1 66.62%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 