.header {
  font-family: 'Bellota Text', cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  letter-spacing: 0.64px;
  color: #B795FF;
  margin-top: 60px;
}