@keyframes animate-mic {
  0% {
    background-image: url(../../../images/mic1.png);
  }
  33% {
    background-image: url(../../../images/mic2.png);
  }
  66% {
    background-image: url(../../../images/mic3.png);
  }
  100% {
    background-image: url(../../../images/mic3.png);
  }
}

.mic {
  background-image: url(../../../images/mic.png);
  width: 117px;
  height: 117px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #f8f8fd;
  cursor: pointer;
  transform: translateY(-21px);
  position: absolute;
  bottom: 0;

  &:disabled {
    animation: none;
    background-image: url(../../../images/mic.png);
  }

  &:active {
    border-radius: 0;
    background-color: transparent;
    width: 178px;
    height: 160px;
    background-image: url(../../../images/mic1.png);
    animation-name: animate-mic;
    animation-duration: 0.65s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
  }
}

.mic_loader {
  background-image: url(../../../images/mic.png);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  pointer-events: none;
}
