.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  gap: 20px;
  width: 349px;
  // padding-right: 16px;

  a {
    // padding: 28px 32px;
    height: 97px;
    text-decoration: none;
    font-family: var(--accent-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    letter-spacing: 1.48px;
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 45px;

    &.active {
      background-color: #eff2ff;

      border-radius: 0px 32px 32px 0px;
    }

    &.link {
      color: var(--main-bg-color);
    }

    &.lastlink {
      margin-top: auto;
    }

    &.pending {
      color: var(--main-bg-color);
    }
  }
}

.iconcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 47px;
  height: 41px;
}

.activecaption {
  background: var(
    --general-gradient,
    linear-gradient(216deg, #b795ff 19.75%, #5e72e1 66.62%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
