.tools {
  position: absolute;
  bottom: 40px;
  right: 32px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow:visible;
  width: 117px;
  height: 305px;
}
