.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(115, 134, 235, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  

  .gif {
    width: 605px;
    height: 348px;
    border-radius: 32px;
    background-size: cover;
  }

  .ru {
    background-image: url(../../../images/ru_800x460.gif);;
  }

  .en {
    background-image: url(../../../images/en_800x460.gif);
  }

  .zh {
    background-image: url(../../../images/ch_800x460.gif);
  }

  .fr {
    background-image: url(../../../images/fr_800x460.gif);
  }
}