.not-found {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
}
