.not-found {
  display: flex;
  flex-direction: column;
  // justify-content: right;
  // align-items: center;
  width: 100%;
  background-color: #f8f8fd;
  box-sizing: border-box;
  padding: 0 0 102px 0;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textheader {
  margin-top: 40px;
  color: #423494;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.52px;
}

.text {
  margin-top: 32px;
  color: #423494;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.52px;
  max-width: 367px;
}
