.overlaycontainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.hintoverlay {
  position: absolute;
  z-index: 30;
  display: flex;
  flex-direction: column;
  right: 65px;
  bottom: 78px;
}

.hintbubble {
  border-radius: 32px;
  border: 1px solid #b795ff;
  background: #eff2ff;
  padding: 16px 80px 16px 24px;
  color: #7386eb;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 127.778% */
  letter-spacing: 0.18px;
  white-space: pre-wrap;
}

.zh {
  padding: 24px 80px 24px 24px;
}

.small1 {
  margin-bottom: 15px;
}

.small2 {
  margin-bottom: 32px;
}

.big {
  padding: 24px 80px 24px 24px;
}

.text {
  width: 285px;
}