.overlaycontainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.hintoverlay {
  position: absolute;
  bottom: 33px;
  right: 69px;
  width: 390px;
  z-index: 3;
}

.hintbubble {
  border-radius: 32px;
  border: 1px solid #b795ff;
  background: #eff2ff;
  padding: 16px 65px 16px 24px;

  color: #7386eb;
  text-align: center;
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 127.778% */
  letter-spacing: 0.18px;
  z-index: 4;
}

.newtalehint {
  margin-top: 10px;
}

.michint {
  width: 240px;
  margin: 29px 0 0 0;
  padding: 24px 102px 24px 24px;
  height: 67px;
  border-right: 1px solid transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
