.sidebar {
  min-height: 100vh;
  background: linear-gradient(
    179deg,
    rgba(198, 138, 227, 0.5) 0%,
    rgba(65, 88, 231, 0.4) 30.52%,
    #31c9cc 90.12%
  );
  padding-top: 132px;
  box-sizing: border-box;
  // width: 365px;
}
