.like {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: none;
  padding: 17px 13px 13px 14px; 
  box-sizing: border-box;
  background: radial-gradient(68.62% 68.62% at 50.00% 50.00%, rgba(88, 188, 235, 0.00) 1.00%, rgba(88, 188, 235, 0.55) 34.33%, #90A1FC 74.96%, rgba(88, 188, 235, 0.00) 100%), linear-gradient(216deg, #AD86FF 19.75%, #5E72E1 66.62%);
  cursor: pointer;

  .img {
    background-image: url(../../../images/likebutton.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 29px;      
  }

}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .notifycation {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 127.778% */
    letter-spacing: 0.18px;
    position: absolute;
    border: 1px solid #9D99F2;
    padding: 16px 65px 16px 24px;
    height: 77px;
    width: 374px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #EFF2FF;
    box-sizing: border-box;
    z-index: -1;
    top: -8px;
    right: 8px;
    color: #5E72E1;
    text-align: center;
  }
}